
# Data Science & ML
numpy==1.26.4
pandas==2.3.2
scikit-learn==1.7.2

# Jupyter & Progress
notebook==7.4.5
tqdm==4.67.1

# Data Ingestion & Web Scraping
requests==2.31.0
beautifulsoup4==4.13.5

# Visualization
wordcloud==1.9.4
matplotlib==3.10.6
seaborn>=0.13.2

# AI/ML Models & NLP
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.7.0
sentence-transformers==5.1.1
mistralai==1.9.10

# count the number of tokens 
tiktoken==0.11.0

# Vector Database & Search
qdrant-client[fastembed]>=1.14.2
elasticsearch==8.13.0

# Database
psycopg2-binary==2.9.11
pgcli==4.3.0

# Evaluation Metrics
rouge>=1.0.1

# Web Interface
streamlit>=1.50.0

# Utilities
python-dotenv==1.1.1
uuid==1.30
tabulate==0.9.0








